<apex:page showHeader="true" sidebar="false" standardStylesheets="false" controller="ResourceAvailabilityController" >
    <!-- Begin Default Content REMOVE THIS -->
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/fullcalendar.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/fullcalendar-custom.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/jquery-ui.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/jquery.timepicker.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/bootstrap.bs.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/bootstrap-datetimepicker.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/dialog.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/font-awesome.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/styles.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/main.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/loaderStyle.css')}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/sumoselect.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/ResourceAvailability/resourceAvailability.css')}"/>
    
    <apex:form id="mainForm">
    <apex:outputPanel >
        <div class="container cloud-wrapper">  
            <apex:actionRegion > 
                <div class="sidebar">
                    <div class="curve-box calendar-summary">
                        <input id="hiddenDate" type="hidden" />
                        <a class="cal-img" id="pickDate"></a>
                        <div class="content"></div>
                    </div>                   
                    <div class="curve-box practitioners">
                        <h3>{!JSINHTMLENCODE(Custset_Location)}</h3>
                        <ul>            
                            <li>
                                <select style="width:96%" name="RALocations"></select>
                            </li>
                        </ul>
                    </div>
                    <div class="curve-box practitioners">
                        <h3>Resource Type</h3>
                        <ul>            
                            <li>
                                <select style="width:96%" name="RAResourceType"></select>
                            </li>
                        </ul>
                    </div>
                    <div id="resourceTypeDependent">
                        <div class="curve-box practitioners">
                            <h3>Resource</h3><br/>
                            <ul>
                                <li>
                                    <select name="RAResources"></select>
                                </li>
                            </ul>
                        </div>
                    </div>
                     <div class="curve-box">
                        <div class="text-center">
                            <button id="resetLeftPaneFiltersBtn">Reset Filters</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="curve-box" style="padding-top:20px;">
                        <div class="SMALegenBox"></div>
                        <p class="SMALable">Appointment booked from Schedule Manager</p>
                    </div>
                    <div class="curve-box">
                        <h3>Navigate To</h3><br/>
                        <ul>
                            <li><a href="javascript:void(0)" id="scheduleManagerPageLink">Schedule Manager</a></li>
                            <li><a href="javascript:void(0)" id="configurePageLink">Configure</a></li> 
                        </ul>
                    </div>
                </div>
                <div class="cal-area">
                    <div class="curve-box">
                        <div id='resourceMngrCalendar'></div>
                    </div>
                </div>
            </apex:actionRegion> 
        </div>
        
    </apex:outputPanel>
     </apex:form>
    <!-- Popup modal starts -->
        
        
        <div class="bs dialogboxs modal" tabindex="-1" role="dialog" id="makeAppointmentModal">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Make A New Booking </h4>
               </div>
               <div class="modal-body">
                  <form name="newAppointmentForm" id="newAppointmentForm">
                  <div class="block">
                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Date</label>
                           <div class="input-group input-group-unstyled" id="appointmentDateIcon">                   
                              <input type="text" class="form-control" placeholder="Date" name="appointmentDate"/>
                              <span class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Time</label>
                           <div class="form-group timepicker">
                              <div class="col-md-6"><select class="form-control" name="startTime" id="makeNewBookSTSlot"></select></div>
                              <div class="col-md-6"><select class="form-control" name="endTime" id="makeNewBookETSlot"></select></div>
                           </div>
                        </div>
                     </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-md-12 col-sm-12">
                        <div class="dividerline"></div>
                     </div>
                     <div class="col-md-12 col-sm-12 recurringWrapper">
                        <label for="">Recurring (Optional)</label>
                        <div class="form-group">
                           <div class="timecount">
                              <ul>
                                 <li>
                                    <input type="text" class="form-control" placeholder="" name="recirringTime" maxlength="3"/>
                                    <span>Times</span>
                                 </li>
                              </ul>
                           </div>
                           <div class="timecountradio">
                              <label class="radio-inline">
                              <input type="radio" name="recurringTimePeriod" value="Daily" /> Daily
                              </label>
                              <label class="radio-inline">
                              <input type="radio" name="recurringTimePeriod" value="Weekly" /> Weekly
                              </label>
                              <label class="radio-inline">
                              <input type="radio" name="recurringTimePeriod" value="Monthly" /> Monthly
                              </label>
                           </div>
                           <div class="clearfix"></div>
                           <div id="recirringTimeErr"></div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                           <label for="">Comments (Optional)</label>
                           <textarea class="form-control" rows="3" name="newbooking_comment"></textarea>                                      
                        </div>
                     </div>
                  </form>
               </div>
               <div class="clearfix"></div>
               <div class="modal-footer">              
                  <button type="button" class="btn btn-dialog" id="createAppointmentBtn">Book</button>
               </div>
            </div>
            <!-- /.modal-content -->
         </div>
         <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      
      
      <!-- Popup modal starts -->       
        <div class="bs dialogboxs modal" tabindex="-1" role="dialog" id="editAppointmentModal">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Edit Booking </h4>
               </div>
               <div class="modal-body">
                  <form name="editAppointmentForm" id="editAppointmentForm">
                  <div class="block">
                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Date</label>
                           <div class="input-group input-group-unstyled" id="edit_appointmentDateIcon">                   
                              <input type="text" class="form-control" placeholder="Date" name="edit_appointmentDate"/>
                              <span class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="">Time</label>
                           <div class="form-group timepicker">
                              <div class="col-md-6"><select class="form-control" name="edit_startTime" id="editStartBookSTSlot"></select></div>
                              <div class="col-md-6"><select class="form-control" name="edit_endTime" id="editEndBookETSlot"></select></div>
                           </div>
                        </div>
                     </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-md-12 col-sm-12">
                        <div class="dividerline"></div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                           <label for="">Comments</label>
                           <textarea class="form-control" rows="3" name="edit_booking_comment"></textarea>  
                           <input type="hidden" name="eventId" value="" />                                    
                        </div>
                     </div>
                  </form>
               </div>
               <div class="clearfix"></div>
               <div class="modal-footer">              
                  <button type="button" class="btn btn-dialog" id="editAppointmentBtn">Book</button>
               </div>
            </div>
            <!-- /.modal-content -->
         </div>
         <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      
        
      <div class="bs dialogboxs modal" id="responseMsgPopup" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">              
                      <div class="col-md-12">
                          <p class="sucess"><i class="fa fa-check-circle"></i></p>
                      </div>              
                  </div>
                  <div class="clearfix"></div>
                  <div class="modal-footer">               
                      <button type="button" class="btn btn-dialog" data-dismiss="modal">Ok</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
        
    <div id="confirm_dialog" class="bs dialogboxs modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirm</h4>
          </div>
          <div class="modal-body">
             <div class="col-md-12">
                <p>Are you sure you want to delete {!JSINHTMLENCODE(Custset_Customer)} from waitlist !</p>
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-dialog" id="delete_user">Delete</button>
            <button type="button" data-dismiss="modal" class="btn btn-dialog">Cancel</button>
          </div>
         </div>
        </div>
    </div>   
    
    <!-- Popup modal ends -->   
    
    <script>
        Visualforce.remoting.timeout = 120000; 
        var mainStartTimeVar = '{!mainStartTime}';
        var mainEndTimeVar = "{!mainEndTime}";
        var metaDataServiceProvider = '{!JSINHTMLENCODE(Custset_Serviceprovider)}';
        var metaDataCustomer = '{!JSINHTMLENCODE(Custset_Customer)}';
        var metaDataLocation = '{!JSINHTMLENCODE(Custset_Location)}';
        var metaDataCategory = '{!JSINHTMLENCODE(Custset_Category)}';
        var metaDataAssistant = '{!JSINHTMLENCODE(Custset_Assistant)}';
        
        var metaDataCustomers = '{!JSINHTMLENCODE(Custset_CustomerPlural)}';
        var metaDataServiceProviders = '{!JSINHTMLENCODE(Custset_ServiceproviderPlural)}';
        var metaDataLocations = '{!JSINHTMLENCODE(Custset_LocationPlural)}';
        var metaDataCategories = '{!JSINHTMLENCODE(Custset_CategoryPlural)}';
        var metaDataAssistants = '{!JSINHTMLENCODE(Custset_AssistantPlural)}';
        var dateFormatLocale='{!JSINHTMLENCODE(dateFormatStatic)}';
    </script>
    
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery-1.11.3.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery.sumoselect.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/moment.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/fullcalendar.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery-ui.custom.min.js')}"/>
    
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/bootstrap-datetimepicker.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery-ui.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery.validate.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/additional-methods.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/SRTimeSelectionPlugin.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/utility.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/dataModel.js')}"/>
    
    <script> 
        var CONFIG_REMOTING = {
            SAVE_SINGLE_RESOURCE: '{!$RemoteAction.ResourceAvailabilityController.SavebookedSingleResource}',
            UPDATE_SINGLE_RESOURCE: '{!$RemoteAction.ResourceAvailabilityController.UpdatebookedSingleResource}',
            DELETE_BOOKING: '{!$RemoteAction.ResourceAvailabilityController.DeleteBooking}',
            GET_AVAILABLE_RESOURCE_DATA: '{!$RemoteAction.ResourceAvailabilityController.getResourceAvailCalendar}',
            GET_SINGLE_RESOURCE: '{!$RemoteAction.ResourceAvailabilityController.getSingleBookedResource}'
        }; 
    
        var rt_leftPaneData = app.utility.parseResult('{!HTMLENCODE(dataString)}');  
        console.log(rt_leftPaneData);
        updateRALeftPaneDropDown(rt_leftPaneData);
        $('document').ready(function(data){
            $('#resetLeftPaneFiltersBtn').click(function(event){
                event.preventDefault();
                var loc = $('select[name="RALocations"] option:selected').val();
                var resType = $('select[name="RAResourceType"] option:selected').val();
                var res = $('select[name="RAResources"] option:selected').val();
                if(loc != "Any" || resType != "Any" || res != "Any"){
                    updateRALeftPaneDropDown(data);
                }                
            }); 
        }(rt_leftPaneData));
    </script>
    
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/ResourceAvailability/ResourceAvailabilityPageJs.js')}"/>
    

    <div id="waitBox" class="waitingBox"></div><!-- Loader div gose here -->
    
  <!-- End Default Content REMOVE THIS -->
</apex:page>